html,
body {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond,
    'Times New Roman', serif;
  cursor: default;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* body interior container*/
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  padding-top: 100px;
}

/* upper page container*/
#upper-page-container {
  height: 100px;
  width: 100vw;
  position: sticky;
  margin-top: -100px;
  background-color: black;
}

/* upper page items*/

#logo-container {
  color: white;
  position: absolute;
  height: 100%;
  width: 7%;
  margin-left: 1%;
  padding: 1%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-image {
  height: 90%;
  width: 80%;
}

/* lower page container*/
#lower-page-container {
  height: 100vh;
  width: 100vw;
  padding-top: 3%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/*lower-page left  section */

#personal-social-media-container {
  height: 80vh;
  width: 4vw;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 30%;
  margin-left: 2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-bottom: 20%;
}

.fa {
  /* align item center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* align item center */
  width: 100%;
  height: 5%;
  text-align: center;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20%;
  font-size: 80%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-github {
  color: black;
  background-color: white;
}

.fa-stack-overflow {
  color: black;
  background-color: white;
}

/*lower-page middle section*/
#main-content-container {
  overflow: auto;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#main-content-row-1 {
  padding: 2%;
  width: 90vw;
  /*height: 100%;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thick;
}

.row-1-inner-wrapper {
  background-color: black;
  padding: 2%;
  width: 90vw;
  /*height: 100%;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thick;
}

/*lower-page right section*/

#sidebar-container {
  //float: right;
  right: 0;
  position: absolute;
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  padding: 1%;
}

.sidebar-element-container {
  bottom: 0;
  cursor: pointer;
  width: 24%;
  height: 50%;
}

.sidebar-element-container:hover {
  transform: scale(1.01);
}

.sidebar-element-container:active {
  transform: scale(0.98);
}

.sidebar-text {
  font-weight: bolder;
  font-size: 90%;
  text-align: center;
  border-radius: 10%;
  padding: 5%;
  border-style: solid;
  border-width: thick;
}

.sidebar-text:hover {
  color: white;
  border-color: white;
  background-color: grey;
}

#sidebar-about-text:not(:hover),
#sidebar-home-text:not(:hover),
#sidebar-contact-text:not(:hover) {
  color: white;
  border-color: white;
  background-color: black;
}

#sidebar-blog-text:not(:hover) {
  color: black;
  border-color: black;
  background-color: white;
}

/* remove blue tick when clicked*/
.noSelect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.remove-link-decoration:hover {
  text-decoration: none;
  color: white;
}
/* openWeather API */
#main-content-row-1 .input {
  text-align: center;
  margin: 100px auto;
}
#main-content-row-1 {
  background-color: black;
}

#main-content-row-1 input[type='submit'] {
  padding: 15px 30px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 10%;
  border-width: thick;
  border-style: solid;
  font-weight: bold;
  font-size: 100%;
}

#main-content-row-1 input[type='submit']:hover {
  background-color: gray;
  color: white;
  border-color: white;
}
#main-content-row-1 input[type='submit']:focus {
  outline: none;
}
#main-content-row-1 input[type='submit']:active {
  position: relative;
  scale: 0.5;
}

#main-content-row-1 .input input[type='text'] {
  width: 40vw;
  height: 40%;
  padding: 1% 2%;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-weight: bold;
  /*
  border-color: black;
  border-width: thick;
  border-style: groove;
  */
  font-size: 100%;
}

#main-content-row-1 input[type='text']:focus {
  outline: none !important;
  border: 4px solid #32cd32;
  box-shadow: 0 0 10px white;
}

#main-content-row-1 .card {
  color: white;
  width: 50%;
  /*height: 80%;
  background: black;
  /*height: 40%;*/
  /*margin: 50px auto;*/
  background: black;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 50px auto;
  padding: 2%;
  margin-bottom: 1%;
  color: white;
}

#main-content-row-1 .card h1 {
  padding: 5px 0;
  text-align: center;
}
.weather-title-container {
  margin: 2%;
  margin-top: 5%;
  padding: 2%;
  height: 15%;
  width: 50%;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10%;
}

.display-weather {
  height: 40%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xSubTitleClose {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 80%;
  background-color: red;
  padding: 1%;
}

.language-title {
  color: black;
}
